{% extends 'base.html' %}




{% block content %}


<!--desc of hotel-->
<div class="container" style="box-shadow: 10px 10px 8px 10px #888888;height:525px;width:50%">
  <div class="row">
    <div class="col mt-3">

      <img style=" width: 300px;height:200"
        src="https://images.oyoroomscdn.com/uploads/hotel_image/98189/medium/4ec9ea8d2cd487d9.jpg" alt="">

    </div>
    <div class="col mt-2">
      <h4>{{object.hotel_title}}</h3>
        <p>
          <i class="fas fa-star text-warning"></i>
          <i class="fas fa-star text-warning"></i>
          <i class="fas fa-star text-warning"></i>
          <i class="fas fa-star text-warning"></i>
        </p>
        <p>
          <h6>Hotel details <small>&nbsp;&nbsp; <i class="fas fa-map-marker-alt"></i> {{object.street}}</small></h6>
          <span>City: {{object.city}}</span><br>
          <span>Street:{{object.street}}</span><br>
          <span>Contact: +977-9860466452</span><br>
          <span>Email:bishalkan6a@gmail.com</span><br>


        </p>

    </div>
  </div>
  <hr>
  <div class="row mt-1">
    <div class="col">
      <p>
        <h6>Room details</h6>
        <span>Number of beds: 1</span><br>
        <span>Capacity: 1 person</span><br>
        <span>Attached Bathroom: Not available !</span><br>
        <span>AC: available</span><br>
        <span>TV: available</span><br>


      </p>

    </div>
    <div class="col">
      <p>
        <h6>Price Details</h6>
        <p style="color: #f57224;font-size:large">Rs. 500 <small style="color: #888888;"> per night</small>
        </p>




      </p>

    </div>

  </div>
  <button type="button" class="btn btn-light mx-3"><i class="fas fa-heart"></i></button>
  <button type="button" class="btn btn-light mx-3"><i class="fas fa-share-alt-square"></i></button>
  <button type="button" class="btn btn-light mx-3"><i class="fas fa-heart"></i></button>
  <button type="button" class="btn btn-danger" style="margin-left: 46%;">Book Now</button>
</div>


{% endblock %}