{% extends 'base.html' %}
{% block content %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item ">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#domestic" role="tab" aria-controls="home"
      aria-selected="true">Domestic(Nepal)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#international" role="tab" aria-controls="profile"
      aria-selected="false">International</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="other-info" data-toggle="tab" href="#other" role="tab" aria-controls="contact"
      aria-selected="false">Other</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="domestic" role="tabpanel" aria-labelledby="home-tab">
    <div class="container">
      <div class="row align-items-center">
        <form class="form-inline  my-lg-0 " action="compare_flight" method="POST">
          {% csrf_token %}

          <i class="fas fa-street-view mt-4 mx-1" style="font-size: 25px;font-family:FontAwesome;color:#4abcad"></i>
          <select class="form-control mr-sm-2 mt-4 " style="width: 150px;font-family:FontAwesome" type="text"
            placeholder="&#xf21d From" aria-label="Search" name="first_dest" id="">
            <option value="">From</option>
            <option value="kathmandu">kathmandu</option>
            <option value="pokhara">pokhara</option>
            <option value="lukla">lukla</option>
            <option value="pokhara">pokhara</option>
            <option value="jomsom">jomsom</option>
            <option value="bhadrapur">bhadrapur</option>
            <option value="biratnagar">biratnagar</option>
            <option value="bhojpur">bhojpur</option>
            <option value="dhangadi">dhangadi</option>
            <option value="tumlingtar">tumlingtar</option>
          </select>
          <i class="fas fa-map-marker-alt mx-1 mt-4 " style="font-size: 25px;font-family:FontAwesome;color:#4abcad"></i>
          <select class="form-control mr-sm-2 mt-4 " style="width: 150px;font-family:FontAwesome" type="text"
            aria-label="Search" name="second_dest" id="">
            <option value="">To</option>
            <option value="kathmandu">kathmandu</option>
            <option value="pokhara">pokhara</option>
            <option value="lukla">lukla</option>
            <option value="pokhara">pokhara</option>
            <option value="jomsom">jomsom</option>
            <option value="bhadrapur">bhadrapur</option>
            <option value="biratnagar">biratnagar</option>
            <option value="bhojpur">bhojpur</option>
            <option value="dhangadi">dhangadi</option>
            <option value="tumlingtar">tumlingtar</option>
          </select>

          <i class="fas fa-calendar-alt mx-1 mt-4 xs-mr-4"
            style="font-size: 25px;font-family:FontAwesome;color:#4abcad"></i>
          <input type="date" class="form-control mx-2 mt-4 " style="width: 250px;font-family:FontAwesome" type="search"
            placeholder="&#xf3c5 To " aria-label="Search" />

          <!--options-->
          <i class="far fa-clock mx-1 mt-4 " style="font-size: 25px;font-family:FontAwesome;color:#4abcad"></i>
          <select name="first_time" class="form-control  mt-4 mr-2" style="width: 100px;font-family:FontAwesome"
            placeholder="&#xf3c5 To " id="fromTime">
            <option value="0">From</option>
            <option value="600">6 am</option>
            <option value="700">7 am</option>
            <option value="800">8 am</option>
            <option value="900">9 am</option>
            <option value="1000">10 am</option>
            <option value="1100">11 am</option>
            <option value="1200">12 pm</option>
            <option value="1300">1 pm</option>
            <option value="1400">2 pm</option>
            <option value="1500">3 pm</option>
          </select>

          <select name="second_time" class="form-control  mt-4 mr-2" style="width: 100px;font-family:FontAwesome"
            id="toTime">
            <i class="fas fa-clock"></i>
            <option value="0">To</option>
            <option value="600">6 am</option>
            <option value="700">7 am</option>
            <option value="800">8 am</option>
            <option value="900">9 am</option>
            <option value="1000">10 am</option>
            <option value="1100">11 am</option>
            <option value="1200">12 pm</option>
            <option value="1300">1 pm</option>
            <option value="1400">2 pm</option>
            <option value="1500">3 pm</option>
          </select>


          <div class="mysearch">
            <button class="btn  btn-light my-2 my-sm-0 " style="" type="submit" onclick="validTime()">
              <i class="fas fa-search" style="color:#4abcad ;"></i>
            </button>
          </div>

        </form>
      </div>




    </div>
    {% block compareflight %}


    {% endblock %}
  </div>
  <div class="tab-pane fade" id="international" role="tabpanel" aria-labelledby="profile-tab">

    Hello this is international section

  </div>
  <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="contact-tab">
    Register your agency to sell tickets in our site
  </div>
</div>







<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}