
 {% extends 'base.html' %}
    {% block content %}

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#domestic" role="tab" aria-controls="home"
          aria-selected="true">Domestic(Nepal)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#international" role="tab" aria-controls="profile"
          aria-selected="false">International</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#other" role="tab" aria-controls="contact"
          aria-selected="false">Other</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="domestic" role="tabpanel" aria-labelledby="home-tab">
        <div class="container">
          <div class="row align-items-center">
            <form class="form-inline  my-lg-0 "action="compare_flight" method="POST">
              {% csrf_token %}
  
              <input class="form-control mr-sm-2 mt-4 " style="width: 250px;font-family:FontAwesome" type="text"
                placeholder="&#xf21d From" aria-label="Search" name="first_dest"/>
            
              
              <input class="form-control  mt-4 mr-2" style="width: 250px;font-family:FontAwesome" type="text"
                placeholder="&#xf3c5 To " aria-label="Search" name="second_dest" />


              <input type="date" class="form-control  mt-4 mr-2" style="width: 250px;font-family:FontAwesome"
                type="search" placeholder="&#xf3c5 To " aria-label="Search"  />
  
              <!--options-->
              <select name="first_time" class="form-control  mt-4 mr-2" style="width: 100px;font-family:FontAwesome"
                placeholder="&#xf3c5 To " id="fromTime">
                <option value="0">From</option>
                <option value="6">6 am</option>
                <option value="7">7 am</option>
                <option value="8">8 am</option>
                <option value="9">9 am</option>
                <option value="10">10 am</option>
                <option value="11">11 am</option>
                <option value="12">12 pm</option>
                <option value="13">1 pm</option>
                <option value="14">2 pm</option>
                <option value="15">3 pm</option>
              </select>
  
              <select name="second_time" class="form-control  mt-4 mr-2" style="width: 100px;font-family:FontAwesome" id="toTime">
                <i class="fas fa-clock"></i>
                <option value="0">To</option>
                <option value="6">6 am</option>
                <option value="7">7 am</option>
                <option value="8">8 am</option>
                <option value="9">9 am</option>
                <option value="10">10 am</option>
                <option value="11">11 am</option>
                <option value="12">12 pm</option>
                <option value="13">1 pm</option>
                <option value="14">2 pm</option>
                <option value="15">3 pm</option>
              </select>
  
  
              <div class="mysearch">
                <button class="btn  btn-light my-2 my-sm-0 " style="" type="submit" onclick="validTime()">
                  <i class="fas fa-search" style="color:#4abcad ;"></i>
                </button>
              </div>
            </form>
          </div>
  
  
  
  
        </div>
  
      </div>
      <div class="tab-pane fade" id="international" role="tabpanel" aria-labelledby="profile-tab">...</div>
      <div class="tab-pane fade" id="other" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>


      {% block compareflight %}


      {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script>
      $('#timepicker').timepicker();
  </script>
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  {% endblock %}