{% extends 'base.html' %}

{%block content%}
<div class="jumbotron main-banner" style="height: 500px; "> 
    <div class="row align-items-center">
        <div class="col-md-4 offset-1">
          
            <h1 class="display-4 text-dark">Find your destination</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <form class="form-inline  my-lg-0 ">
            
            <input
              class="form-control mr-sm-2 "
              style="width: 250px;font-family:FontAwesome"
              type="search"
              placeholder="&#xf21d From"
              aria-label="Search"
            />
                      </form>
          
          <form class="form-inline my-lg-0 ">
            <input
              class="form-control  mt-4"
              style="width: 250px;font-family:FontAwesome"
              type="search"
              placeholder="&#xf3c5 To "
              aria-label="Search"
            />
            <div class="mysearch" >
            <button class="btn  btn-light my-2 my-sm-0 "  style="" type="submit">
              <i class="fas fa-search" style="color:#4abcad ;"></i> 
            </button>
        </div>
          </form>
        

        </div>
       
      </div>

    </div>
   
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="media">
                    <i class="fas fa-building " style="font-size: 70px;color: #ff491b;"></i>
                  
                <div class="media-body">
                <h3> Hotels</h3>
                <p> Choose best hotels with great price. Bargain and save for more fun</p>
            </div>
        </div>  
        </div>
            <div class="col-md">
                <div class="media">
                    <i class="fas fa-plane-departure" style="font-size: 50px;color: #ff491b;"></i>
           
                <div class="media-body">
                <h3> Flights</h3>
                <p> Best flight selection with fascinating discounts with great quality.</p>
            </div>
        </div>
            </div>
            <div class="col-md">
                <div class="media">
                    <i class="fas fa-taxi " style="font-size: 60px;color: #ff491b;"></i>
            
                <div class="media-body">
                <h3> Cab</h3>
                <p> Best flight selection with fascinating discounts with great quality.</p>
            </div>
        </div>
        </div>
        </div>
    </div>

<div class="container mt-4">

<h4 class="text-muted">Popular today</h4>
{% for obj in plane %}


{% include 'flightcard.html' with instance=obj %}

{% endfor %}







</div>



</div>

<div class="container mt-4">

  <h4 class="text-muted">Popular today</h4>
  {% for obj in plane %}
  
  
  {% include 'flightcard.html' with instance=obj %}
  
  {% endfor %}
  
  
  
  
  
  
  
  </div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>


{% endblock%}