{% extends 'base.html'%}


{% block content %}
<div class="jumbotron jumbotron-fluid " style="height: 250px;background: 
    #ff491b;opacity: 0.9;">
  <div class="container">
    <h2 class="col-xm-5 col-md-4 ml-lg-0 text-light pl-0 ">Select best hotels from 1000s of hotels...</h2>
    <div class="row align-items-center">

      <form class="form-inline  my-lg-0 " action="cityhotel" method="POST">
        {% csrf_token %}
        <!--
        <input class="form-control mr-sm-2 mt-4 ml-2" style="width: 250px;font-family:FontAwesome" type="search"
          placeholder="&#xf21d Destination" aria-label="Search" />
-->
        <select class="form-control mr-sm-2 mt-4 " style="width: 200px;font-family:FontAwesome" type="text"
          aria-label="Search" name="cityhotel">
          <option value="ignore">Select City</option>
          <option value="kathmandu">kathmandu</option>
          <option value="pokhara">pokhara</option>
          <option value="biratnagar">biratnagar</option>
        </select>

        <input type="text" onfocus="(this.type = 'date')" class="form-control  mt-4 mr-2 ml-2"
          style="width: 180px;font-family:FontAwesome" type="search" placeholder="&#xf274 Check in"
          aria-label="Search" />

        <input type="text" onfocus="(this.type = 'date')" class="form-control  mt-4 mr-2 ml-2"
          style="width: 180px;font-family:FontAwesome" type="search" placeholder="&#xf274 Check out"
          aria-label="Search" />



        <div class="mysearch">
          <button class="btn  btn-light my-2 my-sm-0 " style="" type="submit">
            <i class="fas fa-search" style="color:#4abcad ;"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


{% block showhotel %}

{% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>




{% endblock %}