<!DOCTYPE html>
<html>

<head>
  <style>
    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 200px;
      margin: auto;
      text-align: ;
      font-family: arial;
      float: left;
      height: 350px;
    }

    .price {
      color: grey;
      font-size: 22px;
    }



    .card button:hover {
      opacity: 0.7;
    }

    .price {
      font-size: 16px;
    }

    .card img {
      height: 100px;
      width: 200px;

    }
  </style>
</head>

<body>

  <div class="container mt-4">
    <div class="card mx-2 my-4 ">
      <div style="height: 300px;">

        <img src={{obj.image}} alt="Yeti photo">

        <h6 class="pt-2">{{obj.hotel_title}} <span class="text-muted" style="font-size: 15px;"></span></h6>
        <p class="price"><span style="color:#ff491b;">Rs {{obj.price}}</span> per person

        </p>
        <p class="ml-3" style="text-align: left;">City:{{obj.city}} <br>
          Address: &nbsp;&nbsp;&nbsp;{{obj.street}}
          <br>
        </p>
      </div>

      <p><button onclick="document.getElementById('favicon').style.color='red'" class="btn btn-light btn-sm "
          id="fav"><i id="favicon" class="fas fa-heart "></button></i><button type="button"
          class="btn btn-primary btn-sm  ml-4">View</button>
      </p>
    </div>
  </div>

  <script>

  </script>



  <!-- hotel card new-->


</body>

</html>