.mysearch {
  margin-top: 23px;
}
.input-wrapper1 {
  position: relative;
  width: 200px;
}

.input-wrapper1:before,
.input-wrapper2 {
  content: "\f21d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #459ce7;
  font-size: 25px;
  margin-right: -40px;
  position: absolute;
  top: 2px;
  right: 0;
}
.main-banner {
  background-image: url('images/coverf.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.midbanner {
  background: rgb(50, 46, 45);
  background: linear-gradient(
    90deg,
    rgba(50, 46, 45, 1) 0%,
    rgba(74, 188, 173, 1) 74%,
    rgba(0, 212, 255, 1) 100%
  );
}
.popularcard p {
  font-size: 15px;
}



/*for footer*/

	/*=-footer-=*/
  footer {
    color: #fff;
    background-attachment: fixed;
    background-color:#222;
    background-image: url(https://s7.postimg.org/uyf0oioaz/footer-bg.png);
    background-size: cover;
    background-position: bottom;
  }
  footer p {
    color: #ccc;				
  }
 footer a {
    color: #ccc;				
  }
  .social-pet li {
    display: inline-block;
    margin-right: 10px;
  }
  .social-pet li a {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    text-align: center;
    display: block;
    line-height: 35px;
    background-color: #3a5a95;
    color: #fff;
  }
  .social-pet li:nth-child(2) a {
    background-color: #57aced;
  }
  .social-pet li:nth-child(3) a {
    background-color: #dd4f43;
  }
  .social-pet li:nth-child(4) a {
    background-color: #6b27b2;
  }
  .social-pet li a:hover {
    background-color: #0141a2;
  }
  .social-pet li a:hover i {
    transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
  .recent-post li {
    display: block;
    color: #ccc;
    margin-bottom: 25px;
  }
  .recent-post li label {
    float: left;
    border: 2px solid #ccc;
    padding: 1px 7px;
    text-align: center;
  }
  .recent-post li label span {
    color: #fff;
  }
  footer .input-group-addon {
    background-color: #0141a2;
    padding: 10px;
  }
  .f-address li {
    display: inline-block;
  }
  .f-address li i {
    color: #2995de;
    font-size: 18px;
  }
  .f-address li a {
    color: #ccc;
  }
  /*=-Copyright-=*/
  .copyright {
    background-color: #111;
    padding: 12px 0;
    font-size:14px;
  }
